To assist you with your project, I'll break down the steps you should follow to analyze the provided Excel file (`Public_Debt.xlsx`) using Python. I'll outline the approach from loading the data to performing Exploratory Data Analysis (EDA), cleaning the data, and visualizing it. Since you're familiar with the basics of Python for data science, I'll keep the explanations detailed but accessible.

### Step 1: Setting Up the Environment

Before diving into the analysis, ensure that you have the necessary libraries installed. The libraries you'll need include:

- `pandas` for data manipulation.
- `matplotlib` and `seaborn` for visualization.
- `numpy` for numerical operations.

```python
# Install the necessary libraries (run in your terminal or notebook if not already installed)
!pip install pandas matplotlib seaborn numpy openpyxl
```

### Step 2: Loading the Data

First, load the data from the Excel file into a Pandas DataFrame.

```python
import pandas as pd

# Load the Excel file
file_path = '/mnt/data/Public_Debt.xlsx'
data = pd.read_excel(file_path, engine='openpyxl')

# Display the first few rows of the dataset
print(data.head())
```

**Explanation:**
- We use `pd.read_excel()` to read the Excel file. The `engine='openpyxl'` argument ensures compatibility with `.xlsx` files.
- `print(data.head())` helps us inspect the first few rows to understand the structure of the data.

### Step 3: Understanding the Data Structure

Check the basic information about the dataset, such as the number of rows, columns, and data types.

```python
# Display basic information about the dataset
data.info()

# Display summary statistics for numerical columns
print(data.describe())
```

**Explanation:**
- `data.info()` provides details on the data types, non-null values, and overall structure.
- `data.describe()` gives you statistical insights like mean, standard deviation, and percentiles for numerical columns.

### Step 4: Handling Missing Data

Identify and handle missing data by either filling them in or dropping the rows/columns.

```python
# Check for missing values
missing_data = data.isnull().sum()
print("Missing data in each column:\n", missing_data)

# Fill or drop missing values as appropriate
data_cleaned = data.dropna()  # This drops all rows with any missing values
# Alternatively, you can fill missing values with a specific value or strategy
# data_cleaned = data.fillna(0)  # Example of filling missing values with 0
```

**Explanation:**
- `data.isnull().sum()` shows the count of missing values in each column.
- `data.dropna()` removes rows with any missing values. This might be overly aggressive, so consider `fillna()` if you prefer filling missing values instead.

### Step 5: Data Cleaning and Transformation

Perform any necessary data cleaning, such as converting data types or correcting inconsistent data.

```python
# Example: Convert a column to a specific data type (e.g., dates)
data_cleaned['Date'] = pd.to_datetime(data_cleaned['Date'], errors='coerce')

# Example: Remove or fix outliers
# data_cleaned = data_cleaned[data_cleaned['Debt'] < threshold_value]
```

**Explanation:**
- `pd.to_datetime()` converts a column to a datetime format. Use `errors='coerce'` to handle any invalid dates.
- Data cleaning often involves handling outliers, which you may choose to remove or adjust depending on the context.

### Step 6: Exploratory Data Analysis (EDA)

Now, explore the data to find patterns, trends, and insights.

#### a. Visualizing Data Distribution

```python
import matplotlib.pyplot as plt
import seaborn as sns

# Histogram of a numerical column (e.g., Debt)
plt.figure(figsize=(10, 6))
sns.histplot(data_cleaned['Debt'], kde=True)
plt.title('Distribution of Debt')
plt.show()
```

**Explanation:**
- A histogram is useful to understand the distribution of a numerical variable.

#### b. Correlation Analysis

```python
# Correlation matrix
correlation_matrix = data_cleaned.corr()

# Heatmap of the correlation matrix
plt.figure(figsize=(12, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()
```

**Explanation:**
- A correlation matrix shows relationships between numerical variables. A heatmap visualizes these correlations, making it easier to spot strong positive or negative correlations.

### Step 7: Data Serialization

If you need to save the cleaned data for future use, serialize it to a CSV or JSON file.

```python
# Save the cleaned data to a CSV file
data_cleaned.to_csv('/mnt/data/Cleaned_Public_Debt.csv', index=False)

# Alternatively, save to a JSON file
data_cleaned.to_json('/mnt/data/Cleaned_Public_Debt.json', orient='records')
```

**Explanation:**
- `to_csv()` saves the cleaned DataFrame as a CSV file, while `to_json()` allows saving it as a JSON file.

### Step 8: Version Control with Git

Since you've covered Git and GitHub, ensure you commit your work regularly.

```bash
# In your terminal or Git Bash
git init  # Initialize a new Git repository
git add .  # Add all files to the staging area
git commit -m "Initial commit with data cleaning and EDA"
git remote add origin <your-github-repo-url>  # Link to your GitHub repository
git push -u origin master  # Push the changes to GitHub
```

**Explanation:**
- Regular commits help you track progress and manage versions of your project.

### Step 9: Data Visualization in Tableau

Although Python is great for visualization, Tableau offers interactive and more advanced visualization options. Export the cleaned data and import it into Tableau for further exploration.

### Final Thoughts

Following these steps will help you systematically analyze your data, clean it, explore patterns, and visualize your findings. The Python code provided is just a starting point; feel free to adapt it to your specific dataset and project needs.

---

**a.** Add unit tests to validate the data cleaning and transformation steps.  
**b.** Explore advanced visualization techniques in Python or Tableau to enhance your analysis.

In [1]:
import pandas as pd

In [4]:
public_debt = "Public_Debt.xlsx"
data = pd.read_excel(public_debt)
data

,THE NATIONAL TREASURY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,PUBLIC DEBT MANAGEMENT OFFICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUMMARY STATEMENT OF PUBLIC DEBT FOR 2022/2023...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CREDITOR NAME,CURRENCY,AMOUNT OUTSTANDING AS AT 30/06/2022 (FX)\n(A),PRINCIPAL REPAID IN 2022/23 FY (FX) (B),DRAW DOWNS DURING 2022/23 FY (FX)\n(C),PRINCIPAL REFINANCED IN 2022/23 FY (FX) (D),RESTRUCTURED DEBT IN 2022/23 FY (FX)\n(E),AMOUNT OUTSTANDING AS AT 30/06/2023 (FX) (F)=(...,AMOUNT OUTSTANDING AS AT 30/06/2023\n(Ksh Equi...
3,1. PUBLIC DEBT CHARGED ON THE CONSOLIDATED FUN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.1 EXTERNAL LOANS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.1.1 Central Government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bilateral,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1248570217754
7,Abu Dhabi Fund for Arab Econ Cooperation,AED,3.57375e+07,4675800,2.14584e+06,-,-,3.32075e+07,1270435722
8,Agence Francaise De Development,EUR,6.5039e+08,6.70466e+07,3.4959e+07,-,-,6.18302e+08,94588818060
9,NaN,USD,3.96e+07,1.1799e+06,33776.8,-,-,3.84539e+07,5403673081
10,DEUTSCHE BANK ESPANOLA,EUR,9.14572e+06,3.04857e+06,-,-,-,6.09714e+06,932750342
11,Exim Bank India,USD,6.36046e+07,7.32764e+06,3.87957e+06,-,-,6.01565e+07,8453402287
12,Exim Bank of China,CNY,7.24073e+09,5.13231e+08,4.54244e+08,-,-,7.18175e+09,139185120046
13,NaN,USD,5.78582e+09,5.52643e+08,4.47217e+07,-,-,5.2779e+09,741668796634
14,Government of Poland,USD,21453250,390000,-,-,-,21063250,2959881611
15,Government of Austria,EUR,2.64706e+06,176471,-,-,-,2.47059e+06,377954294
16,Government of Belgium,EUR,7.42443e+07,772668,3.02156e+06,-,-,7.64932e+07,11702038174
17,Government of China,CNY,8.70863e+07,-,-,-,-,8.70863e+07,1687766759
18,Government of Denmark,DKK,27432000,6400800,-,-,-,21031200,431482409
19,Government of Finland,EUR,7.12872e+06,2.37624e+06,-,-,-,4.75248e+06,727041668
20,Government of France,EUR,5.17053e+07,3.66183e+06,9.76989e+06,-,-,5.78134e+07,8844378038
21,Government of Italy,EUR,7.77086e+06,74761.4,2.73381e+06,-,-,1.04299e+07,1595584220
22,Government of Japan,JPK,9.95102e+07,5.95966e+06,8.59676e+06,-,24696.7,1.02172e+08,99116848153
23,Government of Saudi Arabia,SAR,5812500,375000,-,-,-,5437500,203731706
24,Government of United States of America,USD,1.06853e+07,2.15517e+06,-,-,-,8.53011e+06,1198681343
25,Govt of Fed. Republic of Germany - GTZ,EUR,2.79139e+08,2.36737e+07,3.70493e+07,-,-,2.92515e+08,44749380332
26,Instituto De Credito:Kingdom Of Spain.,EUR,9.09077e+07,1.45666e+07,3.06058e+06,-,-,7.94016e+07,12146982617
27,NaN,USD,8.96613e+06,1.18176e+06,-,-,-,7.78437e+06,1093886979
28,KBC BANK,EUR,4.71641e+07,8850561,1.20594e+07,-,-,5.03729e+07,7706128126
29,Khalifa Fund for Enterprise Development,USD,-,-,-,-,-,-,-
30,Korea Economic Dev. Co-operation Fund,KRW,10469445000,598254000,-,-,-,9871191000,1044174584
31,NaN,USD,2.28976e+07,-,6879292,-,-,2.97769e+07,4184348683
32,KUWAIT FUND FOR ARAB ECONOMIC DEV.,KWD,3.53615e+06,450702,161900,-,-,3.24734e+06,1469088389
33,Saudi Development Fund,SAR,8.27985e+07,2.82878e+06,-,-,-,7.99698e+07,2996299309

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   THE NATIONAL TREASURY  30 non-null     object
 1   Unnamed: 1             28 non-null     object
 2   Unnamed: 2             28 non-null     object
 3   Unnamed: 3             28 non-null     object
 4   Unnamed: 4             28 non-null     object
 5   Unnamed: 5             28 non-null     object
 6   Unnamed: 6             28 non-null     object
 7   Unnamed: 7             28 non-null     object
 8   Unnamed: 8             29 non-null     object
dtypes: object(9)
memory usage: 2.5+ KB

In [6]:
data.describe()

,THE NATIONAL TREASURY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
count,30,28,28.0,28,28,28,28,28.0,29
unique,30,10,28.0,26,17,2,3,28.0,29
top,Government of Belgium,EUR,87086270.6,-,-,-,-,87086270.6,12146982617
freq,1,10,1.0,3,12,27,26,1.0,1

In [7]:
missing_data = data.isnull().sum()

In [9]:
cleaned_data = data.dropna()
cleaned_data

,THE NATIONAL TREASURY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
2,CREDITOR NAME,CURRENCY,AMOUNT OUTSTANDING AS AT 30/06/2022 (FX)\n(A),PRINCIPAL REPAID IN 2022/23 FY (FX) (B),DRAW DOWNS DURING 2022/23 FY (FX)\n(C),PRINCIPAL REFINANCED IN 2022/23 FY (FX) (D),RESTRUCTURED DEBT IN 2022/23 FY (FX)\n(E),AMOUNT OUTSTANDING AS AT 30/06/2023 (FX) (F)=(...,AMOUNT OUTSTANDING AS AT 30/06/2023\n(Ksh Equi...
7,Abu Dhabi Fund for Arab Econ Cooperation,AED,3.57375e+07,4675800,2.14584e+06,-,-,3.32075e+07,1270435722
8,Agence Francaise De Development,EUR,6.5039e+08,6.70466e+07,3.4959e+07,-,-,6.18302e+08,94588818060
10,DEUTSCHE BANK ESPANOLA,EUR,9.14572e+06,3.04857e+06,-,-,-,6.09714e+06,932750342
11,Exim Bank India,USD,6.36046e+07,7.32764e+06,3.87957e+06,-,-,6.01565e+07,8453402287
12,Exim Bank of China,CNY,7.24073e+09,5.13231e+08,4.54244e+08,-,-,7.18175e+09,139185120046
14,Government of Poland,USD,21453250,390000,-,-,-,21063250,2959881611
15,Government of Austria,EUR,2.64706e+06,176471,-,-,-,2.47059e+06,377954294
16,Government of Belgium,EUR,7.42443e+07,772668,3.02156e+06,-,-,7.64932e+07,11702038174
17,Government of China,CNY,8.70863e+07,-,-,-,-,8.70863e+07,1687766759
18,Government of Denmark,DKK,27432000,6400800,-,-,-,21031200,431482409
19,Government of Finland,EUR,7.12872e+06,2.37624e+06,-,-,-,4.75248e+06,727041668
20,Government of France,EUR,5.17053e+07,3.66183e+06,9.76989e+06,-,-,5.78134e+07,8844378038
21,Government of Italy,EUR,7.77086e+06,74761.4,2.73381e+06,-,-,1.04299e+07,1595584220
22,Government of Japan,JPK,9.95102e+07,5.95966e+06,8.59676e+06,-,24696.7,1.02172e+08,99116848153
23,Government of Saudi Arabia,SAR,5812500,375000,-,-,-,5437500,203731706
24,Government of United States of America,USD,1.06853e+07,2.15517e+06,-,-,-,8.53011e+06,1198681343
25,Govt of Fed. Republic of Germany - GTZ,EUR,2.79139e+08,2.36737e+07,3.70493e+07,-,-,2.92515e+08,44749380332
26,Instituto De Credito:Kingdom Of Spain.,EUR,9.09077e+07,1.45666e+07,3.06058e+06,-,-,7.94016e+07,12146982617
28,KBC BANK,EUR,4.71641e+07,8850561,1.20594e+07,-,-,5.03729e+07,7706128126
29,Khalifa Fund for Enterprise Development,USD,-,-,-,-,-,-,-
30,Korea Economic Dev. Co-operation Fund,KRW,10469445000,598254000,-,-,-,9871191000,1044174584
32,KUWAIT FUND FOR ARAB ECONOMIC DEV.,KWD,3.53615e+06,450702,161900,-,-,3.24734e+06,1469088389
33,Saudi Development Fund,SAR,8.27985e+07,2.82878e+06,-,-,-,7.99698e+07,2996299309